.top-container {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  text-align: centezr;
  justify-items: center;
}

.project-samples-container {
  display: grid;
  grid-template: 4 / 1;
  justify-items: center;
  /* align-items: flex-start; */
  grid-gap: 10px;
  padding-bottom: 5%;

}

.project-even {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-odd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-odd h2 {
  grid-area: 1 / 1 / 2 / 2;
  padding-right: 10%;
  padding-left: 10%;
  justify-items: center;
  text-align: center;
}

.project-odd p {
  grid-area: 2 / 1 / 3 / 2;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.project-odd img {
  grid-area: 1 / 2 / 3 / 3;
  padding-right: auto;
  padding-left: auto;
  border-radius: 50%;
  border: double 5px #CBEAA6;
}

.project-even h2 {
  grid-area: 1 / 3 / 2 / 4;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.project-even p {
  grid-area: 2 / 3 / 3 / 4;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.project-even img {
  grid-area: 1 / 2 / 3 / 3;
  padding-right: auto;
  padding-left: auto;
  border-radius: 50%;
  border: double 5px #CBEAA6;
}
